## NEXTJS ENV VARIABLES
NEXT_PUBLIC_API_URL=http://localhost:3001
API_URL=http://localhost:3001



## NESTJS ENV VARIABLES
FRONTEND_URL=http://localhost:3000
PORT=3001
REDIS_URI=redis://:supersecret@localhost:6379
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
DATABASE_URL=POSTGRES_DATABASE_CONNECTION_STRING